[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
httpx = "*"
ruff = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.10"

[scripts]
format = "bash -c \"black .\""
format-check = "bash -c \"black . --check\""
lint-fix = "bash -c \"ruff . --fix\""
lint-check = "bash -c \"ruff check .\""
